# Ambiente Virtual
.venv/
bin/
include/
lib/
share/
pyvenv.cfg

# Cache do Python
__pycache__/
*.pyc

# Arquivos de Configuração Sensíveis (Senhas/Tokens)
.env

# Arquivos temporários do Mac
.DS_Store

# Outputs locais do projeto
dashboard.png